[submodule "src/Libraries/googletest"]
	path = src/Libraries/googletest
	url = https://github.com/google/googletest.git
[submodule "src/Libraries/cereal"]
	path = src/Libraries/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "src/Libraries/GLFW"]
	path = src/Libraries/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "src/Libraries/glm"]
	path = src/Libraries/glm
	url = https://github.com/g-truc/glm.git
[submodule "src/Libraries/imgui"]
	path = src/Libraries/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "src/Libraries/rttr"]
	path = src/Libraries/rttr
	url = https://github.com/rttrorg/rttr.git
[submodule "src/Libraries/sol2"]
	path = src/Libraries/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "src/Libraries/spdlog"]
	path = src/Libraries/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "src/Libraries/physx"]
	path = src/Libraries/physx
	url = https://github.com/NVIDIAGameWorks/PhysX.git
[submodule "src/Libraries/thrust"]
	path = src/Libraries/thrust
	url = https://github.com/thrust/thrust.git
